fieldset {
  width: 300px;
  display: block;
  margin: auto;
}

fieldset form {
  display: block;
}

fieldset form input {
  display: block;
  padding: 1vh;
  margin: 2vh;
  width: 300px;
}

fieldset form label {
  margin: 2vh;
}

fieldset form button {
  margin: 2vh;
  cursor: pointer;
}

table {
  width: 100%;
  border: solid 1px gray;
  margin-top: 5vh;
}

table * {
  border: solid 1px gray;
}
